<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://mysql3.phanos.amsterdam:3306/phanosamsterdam3</property>
    <!--?zeroDateTimeBehavior=convertToNull-->
    <property name="hibernate.connection.username">phanosamsterdam3</property>
    <property name="hibernate.connection.password">9L2e86StU4N8oz</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.connection.zeroDateTimeBehavior">convertToNull</property>
    <mapping resource="liveresultsclient/entity/Atleten.hbm.xml"/>
    <mapping resource="liveresultsclient/entity/Onderdelen.hbm.xml"/>
    <mapping resource="liveresultsclient/entity/AtletiekNu.hbm.xml"/>
    <mapping resource="liveresultsclient/entity/Uitslagen.hbm.xml"/>
    <mapping resource="liveresultsclient/entity/Img.hbm.xml"/>
    <mapping resource="liveresultsclient/entity/Sisresult.hbm.xml"/>
    <mapping resource="liveresultsclient/entity/Sislane.hbm.xml"/>
    <mapping resource="liveresultsclient/entity/StartLijsten.hbm.xml"/>
    <mapping resource="liveresultsclient/entity/Serie.hbm.xml"/>
    <mapping resource="liveresultsclient/entity/Wedstrijden.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
